body{
    background-image: url("/resources/nba-icon.ico");
    color:black;
    text-align: center;
    justify-content: center;
}

header{
    padding-top: 10px;
    font-size: 50px;
}

.container{
    display: flex;
    justify-content: center;
}

video{
    padding-top: 20px;
    width: 100%;
}

.video-c{
    width: 100%;
    max-width: 900px;
    position: relative;
    overflow: hidden;
}
.video-c:hover .controls{
    transform: translateY(0%);
}

.controls{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:black;
    color:white;
    opacity: 100%;
    transform: translateY(84%);
    transition: all 0.6s;
}

.play-btn{
    font-size: 25px;
    color:white;
    background: transparent;
    border: 0;
    outline: 0;
}

.volume-btn{
    font-size: 25px;
    color: white;
    background: transparent;
    border: 0;
    outline: 0; 
}

input[id="time-slider"] {
    width: 75%;
}

input[id="volume-slider"] {
    width: 20%;
    max-width: 100px;
}

footer{
    padding-top: 20px;
    font-size: 15px;
}
